<?xml version='1.0'?>
<database>
<name>bigman Gazebo Database</name>
<license>Creative Commons Attribution 3.0 Unported</license>
<models>
<uri>file://bigman_gazebo</uri>
<uri>file://bigman_only_legs</uri>
<uri>file://bigman_only_upper_body_gazebo</uri>
<uri>file://bigman_only_upper_body</uri>
<uri>file://bigman_real</uri>
<uri>file://bigman</uri>
</models>
</database>
